<router-outlet></router-outlet>
<div class="container">
<app-header></app-header>
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <ng-container *ngFor="let user of users">
                    <div class="card" style="width: 18rem; margin: 1rem;">
                      <img src="{{ user.image }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ user.title }}</h5>
                        <p class="card-text">{{ user.author }}</p>
                        <small>{{ user.description }}</small>
                        <div class="card-footer bg-transparent border-success">
                            <a href="user/:uuid" class="btn btn-primary btn-sm">view</a>
                        </div>
                        
                      </div>
                    </div>
                
            </ng-container>
        </div>

        <div class="col-md-4">

            <form #usersForm="ngForm" (ngSubmit)="submitBookForm(usersForm.value)">
                <div class="form-group">
                    <input type="text" ngModel name="title" class="form-control" placeholder="Enter Name">
                    <br><br>
                    <input type="text" ngModel name="author" class="form-control" placeholder="Enter Author">
                    <br><br>
                    <input type="text" ngModel name="description" class="form-control" placeholder="Enter Description">
                    <br><br>
                    <input type="text" ngModel name="publisher" class="form-control" placeholder="Enter Publisher">
                    <br><br>
                </div>
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-primary">Add New Book</button>
                </div>
            </form>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>